[Desktop Entry]
Name=Tundra
Comment=MyAnimeList scrobbler
Type=Application
Exec=tundra
Terminal=false
Categories=Utility;GTK;
Keywords=GTK;MyAnimeList;MAL;scrobble;automatic;
Icon=pl.m4tx.Tundra
StartupNotify=true
